<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/dist/style.css' />
  </head>
  <body>
    {{{body}}}
  <script src="/dist/App.bundle.js"></script>
  </body>
</html>
